@page "/welcome"

<h3 class="text-center mb-4">Sign In / Sign Up</h3>

<div class="container d-flex justify-content-center">
    <div class="card p-4" style="width: 300px;">
        <ul class="nav nav-tabs" id="authTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="signInTab" data-bs-toggle="tab" data-bs-target="#signIn" type="button" role="tab">Sign In</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="signUpTab" data-bs-toggle="tab" data-bs-target="#signUp" type="button" role="tab">Sign Up</button>
            </li>
        </ul>
        <div class="tab-content mt-3" id="authTabsContent">
            <div class="tab-pane fade show active" id="signIn" role="tabpanel">
                <input type="email" class="form-control mb-2" placeholder="Email" />
                <input type="password" class="form-control mb-2" placeholder="Password" />
                <button class="btn btn-primary w-100">Sign In</button>
            </div>
            <div class="tab-pane fade" id="signUp" role="tabpanel">
                <input type="text" class="form-control mb-2" placeholder="Full Name" />
                <input type="email" class="form-control mb-2" placeholder="Email" />
                <input type="password" class="form-control mb-2" placeholder="Password" />
                <button class="btn btn-success w-100" @onclick="GoToRegister">Sign Up</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager? Navigation { get; set; } // Ensure NavigationManager is injected correctly

    private void GoToRegister()
    {
        Navigation?.NavigateTo("/register");
    }
}
